apiVersion: v1
kind: ConfigMap
metadata:
  name: vcloud-ccm-configmap
  namespace: kube-system
data:
  vcloud-ccm-config.yaml: |+
    vcd:
      host: VCD_HOST
      org: ORG
      vdc: OVDC
    loadbalancer:
      oneArm:
        startIP: "192.168.8.2"
        endIP: "192.168.8.100"
      ports:
        http: 80
        https: 443
      network: NETWORK
      vipSubnet: VIP_SUBNET_CIDR
      certAlias: CLUSTER_ID-cert
      useVsSharedIP: false # supported for VCD >= 10.4
    clusterid: CLUSTER_ID
    vAppName: VAPP
immutable: true
