# TestResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**TargetProbe** | [***ProbeResult**](ProbeResult.md) |  | [optional] [default to null]
**ProxyProbe** | [***ProbeResult**](ProbeResult.md) |  | [optional] [default to null]

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


