{
	"name":"cpi-crs-airgapped",
	"version":"__VERSION__-__GIT_COMMIT__",
	"components": {
		"manifests":[
			{
				"name": "cloud-director-ccm-crs-airgap.yaml.template",
				"url": ""
			}
		],
		"binaries": [],
		"dependencies": [
			{
				"name":"cloud-provider-for-cloud-director",
				"version":"__VERSION__-__GIT_COMMIT__",
				"imageRepository":"__REGISTRY__"
			}
		]
	}
}
